/*Selector universal*/
@font-face{
    font-family: Relaway;
    src: url('fonts/Relaway');
}
@font-face{
    font-family: Poppins;
    src: url('fonts/Poppins');
}
@font-face{
    font-famliy: Lato;
    src: url('fonts/Lato');
}
*{
    font-family: Lato, Poppins, Relaway, Monserrat, Roboto, sans-serif;
}

body{
    background: #fafafa;
    background-image: url('backgrounds/bg1.jpg');
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}
h1, h2, h3{
    color: #7c73e6;
    padding: 10px;
    font-family: Lato;
}
p{
    font-family: Poppins;
    text-indent: 15px;
}

a{
    text-decoration: none;
    color: #6643b5;
}

footer{
    background: #000000;
    color: #FFFFFF;
}
/*Selector de id*/
#descripcion{
    padding: 15px;
}

#titulo{
    background: #ffe9e3;
    border: 2px dashed #FFFFFF;
}

/* Selector de Clase */
.parrafo{
    font-style: normal;
    text-align: justify;
    padding: 10px;
    word-spacing: 5px; /*Espaciado entre palabras*/
    line-height: 30px; /* Altura entre lineas*/
}

/* Selector de attributo */
#formulario form{
    margin: 15px;
    border: 2px dashed #ffe9e3;
    padding: 20px;
}
#formulario form *{
    display: block;
}
input[type="text"]{
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
}
input[type="submit"]{
    background: #a393eb;
    color: #FFFFFF;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #a393eb;
    cursor: pointer;
}

/* Selector hijo */
#menu > li > a{
    color: #77529e;
}

/*Prioridad*/
#saludo h1{
    background: #a5bdfd !important;
}
/* h1{
    background: #d9f2ff;
}
h1{
    background: #d9f2ff !important;
}Cuanto mas especifico es el selector y el important mayor prioriddad */

#caja1{
    width: 250px;
    background-color: #ffe9e3;
}