/* Fuentes */
@font-face {
    font-family: TrebuchetMS;
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/pattern.png");
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* cabecera */
#header {
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "BebasNeue", sans-serif;
}

#logo {
    float: left;
    width: 200px;
    height: 50px;
    background-color: #37bcf9;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 8px;
    margin-left: 20px;
}

#logo h3 {
    font-size: 40px;
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 65px;
    transition: all 300ms;
}

#logo .gear {
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 25px;
}

.gear {
    font-family: "WebSymbolsRegular", sans-serif;
}

#menu {
    float: right;
    margin-right: 15%;
}

#menu ul li {
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 1px;
}

#menu ul li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 300ms;
}

#menu ul li a:hover {
    color: #37bcf9;
    transform: scale(1.2, 1.2);
}